Step 1: Import Required Libraries

In [1]:
import pandas as pd  # For data handling
import numpy as np  # For numerical computations

Step 2: Load Dataset

In [3]:
file_path = "../data/supermarket_sales.csv"  # Adjust if needed
df = pd.read_csv(file_path)

# Display first few rows
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

Step 3: Check for Missing Values

In [5]:
print("\nMissing Values Before Handling:\n")
print(df.isnull().sum())

Missing Values Before Handling:

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [6]:

# Fill missing values in Rating with the average rating
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

In [7]:
# Verify missing values are handled
print("\nMissing Values After Handling:\n")
print(df.isnull().sum())

Missing Values After Handling:

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

Step 4: Standardize Date Format

In [8]:
# Convert mixed date formats to a standard format
df['Formatted Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)

In [9]:
# Extract Year, Month, and Day for analysis
df['Year'] = df['Formatted Date'].dt.year
df['Month'] = df['Formatted Date'].dt.month
df['Day'] = df['Formatted Date'].dt.day

In [10]:
# Verify date conversion
df[['Date', 'Formatted Date', 'Year', 'Month', 'Day']].head()

        Date Formatted Date    Year  Month  Day
0   1/5/2019     2019-05-01  2019.0    5.0  1.0
1   3/8/2019     2019-08-03  2019.0    8.0  3.0
2   3/3/2019     2019-03-03  2019.0    3.0  3.0
3  1/27/2019            NaT     NaN    NaN  NaN
4   2/8/2019     2019-08-02  2019.0    8.0  2.0

Step 5: Extract Hour from Time Column

In [11]:
# Convert Time column to proper format
df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.time

C:\Users\kauti\AppData\Local\Temp\ipykernel_24352\1041901355.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.time

In [ ]:
# Extract Hour for time-based analysis
# df['Hour'] = pd.to_datetime(df['Time'], format='%H:%M').dt.hour

Step 6: Save Processed Data

In [13]:
output_path = "../data/cleaned_data.csv"
df.to_csv(output_path, index=False)

print(f"\n✅ Cleaned data saved at: {output_path}")

✅ Cleaned data saved at: ../data/cleaned_data.csv